# IDE / Editor
.vscode/
.DS_Store
.idea
.vscode-server
__pycache__/
.wget-hsts
.cursor-server
.windsurf-server

.lightning_studio/
.netrc
dataset/4square/4square--poi-embed.npy
dataset/hd5_creator.ipynb
wandb/
settings/cache/
saved_model/